/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Icon style */
  .dropdown-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 8px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of links on hover */
  .dropdown-content a:hover {
    background-color: #c29d59;
    color: aliceblue;
    border-radius: 5px;
  }
  
  /* Show the dropdown content when hovering over the dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  